In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('armenian_pubs - armenian_pubs.csv', sep=';')
df

    Timestamp,Age,Gender,Income, Occupation,Fav_Pub,WTS,Freq,Prim_Imp,Sec_Imp,Stratum,Lifestyle,Occasions
0    2017/02/25 10:52:03 PM GMT+4,19,Male,100000,St...
1    2017/02/25 10:53:19 PM GMT+4,19,Female,50000,S...
2    2017/02/25 10:54:05 PM GMT+4,20,Male,100000,St...
3    2017/02/25 10:55:09 PM GMT+4,18,Male,0,Student...
4    2017/02/25 10:55:38 PM GMT+4,19,Female,130000,...
..                                                 ...
170  2017/03/03 8:50:35 AM GMT+4,19,Female,10000,St...
171  2017/03/03 9:08:33 AM GMT+4,20,Female,0,Studen...
172  2017/03/03 8:59:05 PM GMT+4,20,Female,80000,St...
173  2017/03/04 3:32:37 AM GMT+4,19,Male,0,Student,...
174  2017/03/05 9:45:11 PM GMT+4,22,Female,120000,S...

[175 rows x 1 columns]